# Node modules
node_modules/
package-lock.json
yarn.lock
package.json
package.json5


# Environment variables
.env

# Build files
build/
 

# Tailwind CSS output files
public/tailwind.css
src/tailwind.css
dist/
